<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Nilai Siswa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let item of dataNilaiSiswa">
    <ion-item>
      <ion-label>
        {{item.mata_pelajaran}}
        <p>{{item.nilai}}</p>
      </ion-label>
      <ion-button color="danger" slot="end" (click)="hapusNilaiSiswa(item.id)">
        Hapus
      </ion-button>
      <ion-button expand="block" (click)="open_modal_edit(true,item.id)">
        Edit
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-button (click)="open_modal_tambah(true)" expand="block">
      Tambah Siswa
    </ion-button>
  </ion-card>

  <!-- ini untuk modal tambah -->
  <ion-modal [isOpen]="modal_tambah">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Tambah Nilai Siswa</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Mata Pelajaran"
            labelPlacement="floating"
            required
            [(ngModel)]="mata_pelajaran"
            placeholder="Masukkan Mata Pelajaran"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Nilai Siswa"
            labelPlacement="floating"
            required
            [(ngModel)]="nilai"
            placeholder="Masukkan Nilai Siswa"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Id Siswa"
            labelPlacement="floating"
            required
            [(ngModel)]="id_siswa"
            placeholder="Masukkan Nilai Siswa"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button
              type="button"
              (click)="tambahNilaiSiswa()"
              color="primary"
              shape="full"
              expand="block"
              >Tambah Nilai Siswa
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- ini untuk modal edit -->
  <ion-modal [isOpen]="modal_edit">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Edit Nilai Siswa</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Mata Pelajaran"
            labelPlacement="floating"
            required
            [(ngModel)]="mata_pelajaran"
            placeholder="Masukkan Mata Pelajaran"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Nilai Siswa"
            labelPlacement="floating"
            required
            [(ngModel)]="nilai"
            placeholder="Masukkan Nilai Siswa"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Id Siswa"
            labelPlacement="floating"
            required
            [(ngModel)]="id_siswa"
            placeholder="Masukkan Id Siswa"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-input required [(ngModel)]="id" type="hidden"> </ion-input>
        <ion-row>
          <ion-col>
            <ion-button
              type="button"
              (click)="editNilaiSiswa()"
              color="primary"
              shape="full"
              expand="block"
              >Edit Nilai Siswa
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
